body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.room-button {
    background-color: #2C3E50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px; /* Rounded edges */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Shadow effect */
    width: 50%; /* Full width */
}

.room-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.list-group-item {
    display: flex;
    justify-content: center;
    align-items: center;
}